*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.simpleFunction{
    margin: 20px;
    height: 100px;
}

.simpleFunction button{
    background-color: dodgerblue;
    color: white;
    text-transform: capitalize;
    border: none;
    cursor: pointer;
}

.sum h4{
    font-weight: bolder;
    margin: 20px;
}

.sum button{
    text-transform: capitalize;
    margin-left: 10px;
    background-color: dodgerblue;
    width: 100px;
    border: none;
    padding: 6px;
    color: white;
}

span{
    margin: 20px;
}