.card{
  width: 200px;
  height: 200px;
  border: 2px solid rgb(193, 188, 188);
  border-radius: 10px;
  margin: 10px;

}

.flex{
  display: flex;
}
.card p{
  padding: 5px;
  text-transform: capitalize;
  font-size: 1.4rem;
}